ACME_EMAIL=admin@archilan.fr

# OVH API — https://www.ovh.com/auth/api/createToken
# Droits requis : GET/POST/PUT/DELETE sur /domain/zone/*
OVH_ENDPOINT=ovh-eu
OVH_APPLICATION_KEY=
OVH_APPLICATION_SECRET=
OVH_CONSUMER_KEY=
