SERVER_NAME=:3001
MERCURE_PUBLISHER_JWT_KEY=         # openssl rand -hex 32
MERCURE_SUBSCRIBER_JWT_KEY=        # même valeur que MERCURE_PUBLISHER_JWT_KEY
MERCURE_EXTRA_DIRECTIVES=cors_origins https://archilan.fr
